.content__skills {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - var(--spacing-3xl) * 2);
  padding: var(--spacing-3xl);
  gap: 16px;
}

.content__skills-text {
  font-size: 64px;
  font-weight: 700;
  color: var(--color-text-primary);
}

.content__skills-card-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  width: 100%;
}

.content__skills-cards {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.content__skills-card-title-container {
  display: flex;
  gap: 10px;
  padding: var(--spacing-lg);
  border-bottom: 1px solid #ebeef1;
}

.content__skills-card-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-text-primary);
}

.content__skills-card {
  display: flex;
  width: 100%;
  padding: var(--spacing-lg);
  gap: var(--spacing-lg);
  border-radius: 16px;
  background-color: color-mix(
    in srgb,
    var(--color-accent-brand) 3%,
    transparent
  );
}

.content__skills-card.content__skills-card-soft {
  background-color: color-mix(
    in srgb,
    var(--color-brand-second) 3%,
    transparent
  );
}

.content__skills-card-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-lg);
  background-color: color-mix(
    in srgb,
    var(--color-accent-brand) 3%,
    transparent
  );
  border-radius: 12px;
}

.content__skills-card-soft .content__skills-card-icon-container {
  background-color: color-mix(
    in srgb,
    var(--color-brand-second) 3%,
    transparent
  );
}

.content__skills-card-icon {
  color: var(--color-accent-brand);
  font-size: 20px;
}

.content__skills-card-soft .content__skills-card-icon {
  color: var(--color-brand-second);
}

.content__skills-card-body {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  gap: var(--spacing-lg);
}

.content__skill-name {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  color: var(--color-text-primary);
  text-wrap: nowrap;
  margin: 0;
}

.content__skill-tags {
  display: flex;
  padding-bottom: var(--spacing-xs);
  padding-top: var(--spacing-xs);
  padding-left: var(--spacing-sm);
  padding-right: var(--spacing-sm);
  gap: var(--spacing-xs);
  background-color: var(--color-accent-brand);
  border-radius: 999px;
}

.content__skills-card-soft .content__skill-tags {
  background-color: var(--color-brand-second);
}

.content__skill-tag {
  font-size: 14px;
  font-weight: 700;
  color: var(--color-text-inverse);
  text-wrap: nowrap;
}

.content__skills-level-container {
  display: flex;
  flex-direction: row;
  gap: 4px;
  width: 100%;
  justify-content: end;
}

.content__skills-level {
  display: flex;
  width: 14px;
  height: 14px;
  border-radius: 999px;
  background-color: var(--color-icon-secondary);
}

.content__skills-level--active {
  background-color: var(--color-accent-brand);
}

.content__skills-card-soft .content__skills-level--active {
  background-color: var(--color-brand-second);
}

.content__skills-card-body-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-lg);
  width: 100%;
}

.content__skills-card-body-content {
  color: var(--color-text-secondary);
}

.content__skills-search {
  width: 100%;
  top: 0;
  position: sticky;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.content__skills-search-filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.content__skills-search-filters-tag {
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-top: var(--spacing-xs);
  padding-bottom: var(--spacing-xs);
  padding-left: var(--spacing-sm);
  padding-right: var(--spacing-lg);
  gap: 10px;
  border-radius: 999px;
  transition: 0.2s;
}

.content__skills-search-filters-icon {
  color: var(--color-icon-secondary);
}

.content__skills-search-filters-icon--active {
  color: var(--color-accent-brand);
}

.content__skills-search-filters-tag-brand-one {
  background-color: color-mix(
    in srgb,
    var(--color-accent-brand) 10%,
    transparent
  );
  color: var(--color-accent-brand);
}

.content__skills-search-filters-tag-brand-one.content__skills-search-filters-tag--active {
  background-color: var(--color-accent-brand);
  color: var(--color-text-inverse);
}

.content__skills-search-filters-tag-brand-one.content__skills-search-filters-tag--active:hover {
  background-color: color-mix(
    in srgb,
    var(--color-accent-brand) 90%,
    transparent
  );
  color: var(--color-text-inverse);
}

.content__skills-search-filters-tag-brand-one:hover {
  background-color: color-mix(
    in srgb,
    var(--color-accent-brand) 20%,
    transparent
  );
}

.content__skills-search-filters-tag-brand-two.content__skills-search-filters-tag--active {
  background-color: var(--color-brand-second);
  color: var(--color-text-inverse);
}

.content__skills-search-filters-tag-brand-two.content__skills-search-filters-tag--active:hover {
  background-color: color-mix(
    in srgb,
    var(--color-brand-second) 90%,
    transparent
  );
  color: var(--color-text-inverse);
}

.content__skills-search-filters-tag-brand-two {
  background-color: color-mix(
    in srgb,
    var(--color-brand-second) 10%,
    transparent
  );
  color: var(--color-brand-second);
}

.content__skills-search-filters-tag-brand-two:hover {
  background-color: color-mix(
    in srgb,
    var(--color-brand-second) 20%,
    transparent
  );
}

.content__skills-search-content {
  display: flex;
  flex-direction: row;
  padding-bottom: var(--spacing-md);
  padding-top: var(--spacing-md);
  padding-right: var(--spacing-lg);
  padding-left: var(--spacing-lg);
  gap: var(--spacing-sm);
  border: 2px solid var(--color-border-secondary);
  border-radius: 999px;
  background-color: var(--color-background-default);
}

.content__skills-search-input {
  border-width: 0;
  width: 100%;
  background: transparent;
}

.content__skills-search-input:focus {
  outline: none;
  box-shadow: none;
}

.content__skills-search-icon {
  color: var(--color-icon-secondary);
}
