@media (max-width: 768px) {
  .sidebar {
    max-width: 64px;
  }

  .avatar__image {
    max-height: 48px;
    max-width: 48px;
  }

  .avatar {
    padding-top: var(--spacing-md);
    padding-bottom: var(--spacing-md);
  }

  .avatar__description {
    display: none !important;
  }

  .navigation__link span {
    display: none !important;
  }

  .contacts {
    flex-direction: column !important;
  }
}

@media (max-width: 480px) {
  body {
    flex-direction: column-reverse !important;
  }
  .avatar {
    display: none !important;
  }

  .sidebar {
    width: 100% !important;
    max-width: 100% !important;
    height: auto !important;
    max-height: auto !important;
  }

  .navigation {
    flex-direction: row !important;
    border-top: 1px solid var(--color-border-default) !important;
    max-height: auto !important;
    padding-top: var(--spacing-sm) !important;
    padding-bottom: var(--spacing-sm) !important;
  }

  .contacts {
    display: none !important;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  width: 382px;
  height: 100vh;
  border-right: 1px solid var(--color-border-default);
}

.avatar__image {
  height: 212px;
  width: 212px;
  object-fit: cover;
  border-radius: 50%;
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-sm);
  padding-top: var(--spacing-3xl);
  padding-bottom: var(--spacing-3xl);
  border-bottom: 1px solid var(--color-border-default);
}

.avatar__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-xs);
}

.avatar__description-name {
  color: var(--color-text-primary);
  font-size: var(--font-size-lg);
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.avatar__description-details {
  text-align: center;
  color: var(--color-text-secondary);
  font-weight: 400;
  font-size: var(--font-size-sm);
}

.sidebar__navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.navigation {
  display: flex;
  flex-direction: column;
  padding-top: var(--spacing-3xl);
  padding-bottom: var(--spacing-3xl);
  gap: var(--spacing-lg);
  width: auto;
}

.navigation__link {
  display: flex;
  align-items: center;
  text-align: start;
  padding: var(--spacing-md);
  gap: var(--spacing-md);
  font-size: var(--font-size-md);
  font-weight: 400;
  color: var(--color-text-primary);
  text-decoration: none;
  gap: var(--spacing-md);
}

.navigaion__link-icon {
  color: var(--color-icon-secondary);
}

.navigation__link--active {
  background-color: color-mix(
    in srgb,
    var(--color-accent-brand) 10%,
    transparent
  );
  border-radius: 12px;
  color: var(--color-accent-brand);
}

.navigation__link--active .navigaion__link-icon {
  color: var(--color-accent-brand);
}

.contacts {
  display: flex;
  flex-direction: row;
  padding-top: var(--spacing-3xl);
  padding-bottom: var(--spacing-3xl);
  padding-left: var(--spacing-md);
  padding-right: var(--spacing-md);
  gap: var(--spacing-md);
  border-top: 1px solid var(--color-border-default);
  justify-content: center;
  align-items: center;
}

.contacts__item-icon {
  width: 32px;
  height: 32px;
  color: var(--color--text-primary);
}
